@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: black;
    max-width: 1500px;
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 10px;
}

.headdiv {

    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 400px;

}

.headPart {
    justify-content:space-between;
    align-items: center;
    display: flex;
    gap: 10px;
    margin-left: 150px;
}

.logo{
    width: 40px;
    height: 40px;
    
}

.ckName {
    color: antiquewhite;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin-left: -650px; */
    font-size: 30px;
    font-weight: 700px;
}

.leftpart {
    flex: 1;
}

.nav-links:hover{
    text-decoration: underline;

    list-style: none;
   
}
.leftpart nav ul li a:hover {
    text-decoration: underline;
}
.nav-links li {
    
    display: inline-block;
    padding: 0px 20px;
}
li,a,button {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: antiquewhite;
    text-decoration: none;
}

.homepic {
    width: 1440px;
    /* height: 500px; */
    object-fit: cover;

}

.headintro {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: antiquewhite;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
}

.viewmore {
    color:black;
    background-color: antiquewhite;
    justify-content: space-around;
    height: 30px;
    font-weight: 700px;
    /* text-align: center; */
    
}

.bt1 {
    /* margin-left: 630px; */
    text-align: center;
    border: solid red;
    
}

body {
    background-color: black;
}

.Flexbox{
    /* display: grid; */
    /* grid-template-columns: 240px 240px 240px 240px; */
    justify-content:center;
    /* gap: 5px; */
    display: flex;
    margin-right:auto;
    margin-left: auto;
    max-width: 1300px;
    border: solid yellow;
    /* max-height: 350px; */
    
}

.coco-1 {
    margin-right: auto;cursor: pointer;
    border: solid green;
}

.coco {
    width: 300px;
    height: 200px;
}

.p1 {
    color: white;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 300px;
}

.p2 {
    color:grey;
    font-size: 11px;
    padding-top: 1px;
    /* padding-left: 40px; */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 300px;
}


.p3 {
    color:grey;
    font-size: 11px;
    padding-top: 1px;
    /* padding-left: 40px; */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 300px;
}


.homepic2 {
    width: 1440px;
    height: 580px;
    object-fit: cover;
    border: solid blueviolet;

}
